<div class = "new_photo">
  <%= link_to('New Photo', url_for(:controller => "display", :action => "newPhoto"))%>
</div>
<% @photos.each do |p| %>
  <%= link_to(image_tag(p.file_name), '#')%>
  <p class = "date">
    uploaded at 
    <%= p.date_time %>
  </p>
  <%= link_to('New Comment', url_for(:controller => "display", :action => "newComment", :photo_id => p.id))%>
  <% p.comments.each do |c| %>
    <%= render("comment", :c => c) %>
  <% end %>
  <hr/>
<% end %>

